<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory name="">
			<property name="connection.connection_string">Server=127.0.0.1;Database=cms;Uid=cms;Pwd=cms;</property>
			<property name="dialect">NHibernate.Dialect.MySQLDialect</property>
			<!--
      <property name="connection.connection_string">Server=127.0.0.1;Database=cms;Uid=sa;Pwd=12qwaszx;</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>-->
		</session-factory>
	</hibernate-configuration>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0" />
		<httpModules>
			<add name="LifelikePageModule" type="Lifelike.Kernel.HttpModules.PageHttpModule, Lifelike.Kernel" />
		</httpModules>
	</system.web>

</configuration>
