<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core"/>
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="">
      <property name="connection.connection_string">Server=127.0.0.1;Database=cms;Uid=root;Pwd=;</property>
      <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
      <!--
      <property name="connection.connection_string">Server=127.0.0.1;Database=cms;Uid=sa;Pwd=12qwaszx;</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>-->
    </session-factory>
  </hibernate-configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages>
      <controls>
        <add assembly="Lifelike.Kernel" namespace="Lifelike.Kernel.WebComponents" tagPrefix="ll"/>
      </controls>
    </pages>
		<membership defaultProvider="nHibernateProvider" userIsOnlineTimeWindow="15">

			<providers>

				<add
          name="nHibernateProvider"
          type="Lifelike.Data.Membership.NHibernateMembershipProvider"
          connectionStringName="nHibernateProvider"
          enablePasswordRetrieval="true"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="true"
          writeExceptionsToEventLog="true" />

			</providers>
		</membership>
  </system.web>
  <system.webServer>
    <modules>
      <add name="LifelikePageModule" type="Lifelike.Kernel.HttpModules.PageHttpModule, Lifelike.Kernel"/>
    </modules>
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition=""/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <dotless minifyCss="false" cache="true" web="false"/>
</configuration>